$text-color           : #444;
$em-color             : #F55;
$link-color           : #0044CC;
$hr-color             : #555;
$body-bg              : #FFF;
$nav-bg               : #444;
$nav-width            : 200px;
$nav-size-shadow      : #000;
$nav-title-color      : #FFF;
$nav-sub-title-color  : #FFF;
$nav-color            : #FFF;
$code-bg              : #333;
$table-border         : #666;
$table-thead-th-bg    : none;
$table-thead-th-color : #666;
$table-thead-td-bg    : none;
$table-thead-td-color : #666;
$table-tbody-th-bg    : none;
$table-tbody-th-color : #666;
$table-tbody-td-bg    : none;
$table-tbody-td-color : #666;
$drower-bg-color      : #000;
$base-bg-color        : #FFF;
$preview-border-color : #555;