@import "modules/sass/def_reset";
@import "modules/sass/helper_extends";
@import "modules/sass/helper_mixins";
@import "modules/compass/compass_helper_mixins";
@import "modules/compass/compass_sprite_mixins";
@import "compass";

@import "modules/variables";

// =============================================================================
// default
// =============================================================================

html{
	height : 100%;
}

body{
	width      : 100%;
	min-height : 100%;
	color      : $text-color;
	position   : relative;
	background : $body-bg;
	@extend %clearfix;
}

// =============================================================================
// layout
// =============================================================================
body > nav{
	position   : absolute;
	width      : $nav-width;
	min-height : 100%;
	background : $nav-bg;
	padding    : 30px 15px;
	z-index    : 500;
	@include box-sizing(border-box);
	@include box-shadow(rgba(0, 0, 0, 0.2) -50px 0px 5px -46px inset);
	h1{
		width          : 100%;
		font-size      : 22px;
		color          : $nav-title-color;
		text-align     : center;
		padding-bottom : 15px;
		border-bottom  : 1px solid #CCC;
	}
	h2{
		width          : 100%;
		font-size      : 16px;
		color          : $nav-sub-title-color;
		padding-top    : 30px;
		padding-bottom : 15px;
		border-bottom  : 1px solid #CCC;
	}
	ul{
		border-top  : 1px solid darken($nav-size-shadow,30%);
		padding-top : 10px;
	}
	ul li a{
		display         : block;
		text-decoration : none;
		color           : $nav-color;
		padding         : 5px 0;
		&:before{ content : "・"; }
		&:hover:before{ content : "→"; }
	}
}

body > article{
	position     : relative;
	width        : 100%;
	padding      : 30px;
	padding-left : $nav-width + 30;
	@include box-sizing(border-box);
}