@import "modules/sass/helper_extends";
@import "modules/sass/helper_mixins";
@import "modules/compass/compass_helper_mixins";
@import "modules/compass/compass_sprite_mixins";
@import "compass";

@import "modules/variables";

.guide-style{
	%em-style{
		color      : $em-color;
		font-style : normal;
	}
	%link-style{
		color : $link-color;
	}
	%img-style{
		display   : block;
		max-width : 100%;
	}
	// -------------------------------------------------------------------------
	> h1{
		display        : block;
		font-size      : 38px;
		padding-top    : 0.6em;
		padding-bottom : 0.5em;
		a{@extend %link-style;}
		em{@extend %em-style;}
	}
	// -------------------------------------------------------------------------
	> h2{
		display        : block;
		font-size      : 26px;
		padding-bottom : 0.2em;
		padding-top    : 0.8em;
		a{@extend %link-style;}
		em{@extend %em-style;}
	}
	> h1 + h2,
	> h2 + h2{
		padding-top : 0;
	}
	// -------------------------------------------------------------------------
	> h3{
		font-weight    : bold;
		font-size      : 18px;
		padding-bottom : 0.3em;
		padding-top    : 1.2em;
		a{@extend %link-style;}
		em{@extend %em-style;}
	}
	// -------------------------------------------------------------------------
	> p{
		display        : block;
		line-height    : 1.7;
		margin-top     : 0.5em;
		a{@extend %link-style;}
		em{@extend %em-style;}
		img{@extend %img-style;}
	}
	> p + p{ margin-top : 0.6em; }
	> hr + p,
	> h1 + p,
	> h2 + p,
	> h3 + p{ margin-top : 0em; }
	// > p + p,
	// > ul + p,
	// > ol + p,
	// > dl + p{ margin-top : 0.5em; }
	// -------------------------------------------------------------------------
	> ul{
		display     : block;
		line-height : 1.7;
		margin-top  : 0.5em;
		li{
			list-style : disc inside;
			a{@extend %link-style;}
			em{@extend %em-style;}
			img{@extend %img-style;}
		}
	}
	> hr + ul,
	> h1 + ul,
	> h2 + ul,
	> h3 + ul{ margin-top : 0em; }
	// -------------------------------------------------------------------------
	> ol{
		line-height : 1.7;
		margin-top  : 0.5em;
		li{
			list-style : decimal-leading-zero inside;
			a{@extend %link-style;}
			em{@extend %em-style;}
			img{@extend %img-style;}
		}
	}
	> hr + ol,
	> h1 + ol,
	> h2 + ol,
	> h3 + ol{ margin-top : 0em; }
	// -------------------------------------------------------------------------
	> dl{
		line-height : 1.7;
		margin-top  : 0.5em;
		@extend %clearfix;
		a{@extend %link-style;}
		em{@extend %em-style;}
		img{@extend %img-style;}
		dt{
			float : left;
			clear : both;
		}
		dd{
			padding-left : 1.8em;
		}
	}
	> hr + dl,
	> h1 + dl,
	> h2 + dl,
	> h3 + dl{ margin-top : 0em; }
	// -------------------------------------------------------------------------
	> img{
		padding : 0.5em 0;
		@extend %img-style;
	}
	> p + img,
	> ul + img,
	> ol + img,
	> dl + img{ margin-top : 0.5em; }
	// -------------------------------------------------------------------------
	> hr{
		display       : block;
		height        : 1px;
		border        : none;
		border-bottom : 1px solid lighten($hr-color,40%);
		padding       : 0 0;
		margin        : 1em 0 1em 0;
	}
	> table + hr{margin-top : 1.3em;}
	// -------------------------------------------------------------------------
	> table{
		// margin : 0.5em 0 0.5em 0;
		margin-top : 0.5em;
		th,td{
			padding     : 0.5em 0.7em 0.4em 0.7em;
			text-align  : left;
			border      : 1px solid $table-border;
			line-height : 1.7;
			a{@extend %link-style;}
			em{@extend %em-style;}
			img{@extend %img-style;}
		}
		thead{
			th{
				background : $table-thead-th-bg;
				color      : $table-thead-th-color;
			}
			td{
				background : $table-thead-td-bg;
				color      : $table-thead-td-color;
			}
		}
		tbody{
			th{
				background : $table-tbody-th-bg;
				color      : $table-tbody-th-color;
			}
			td{
				background : $table-tbody-td-bg;
				color      : $table-tbody-td-color;
			}
		}
	}
	> table + table{ margin-top : 1em; }
	> hr + table{ margin-top : 1.5em; }
	> h1 + table,
	> h2 + table,
	> h3 + table{ margin-top : 0em; }
	// -------------------------------------------------------------------------
	> .code{
		padding : 0.5em 0 0.5em 0;
		.hljs{
			line-height : 1.4;
			padding     : 0.8em;
			overflow-x  : scroll;
			background  : #333;
			font-family : 'ricty',monospace;
		}
	}
	// -------------------------------------------------------------------------
	> .preview{
		padding : 0.5em 0 0.5em 0;
		> div{
			border     : 1px solid $preview-border-color;
			width      : 100%;
			padding    : 0.8em;
			background : image-url('preview_bg.gif');
			@include box-sizing(border-box);
		}
		iframe{
			width : 100%;
		}
	}
	// -------------------------------------------------------------------------
	> .video{
		padding : 0.5em 0 0.5em 0;
		> div{
			position : relative;
			height   : 0;
			padding  : 30px 0 56.25%;
			overflow : hidden;
		}
		> div > iframe,
		> div > object,
		> div > embed{
			position : absolute;
			top      : 0;
			left     : 0;
			width    : 100%;
			height   : 100%;
		}
	}
}
.guide-style:first-child{
	h1{padding-top : 0;}
}
