@charset "UTF-8";
/* ===============================================================
HTML5 DOCTOR RESET CSS
===============================================================　*/
/* html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #212121;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #444;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* ===============================================================
YUI FONT CSS
===============================================================　*/
/*
YUI 3.4.1 (build 4118)
Copyright 2011 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
body {
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
  *font-size: small;
  *font: x-small; }

select, input, button, textarea {
  font: 99% arial,helvetica,clean,sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%; }

/* ===============================================================
yokota
===============================================================　*/
body {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif; }

h1, h2, h3, h4, h5, h6, th {
  font-weight: normal; }

img {
  vertical-align: top;
  height: auto; }

li {
  list-style: none; }

html {
  height: 100%;
  overflow-y: scroll; }

body {
  width: 100%;
  min-height: 100%;
  color: #444;
  position: relative;
  background: #DDD;
  overflow: hidden;
  *zoom: 1; }

body > nav {
  position: absolute;
  width: 250px;
  min-height: 100%;
  z-index: 500;
  box-sizing: border-box; }
  body > nav h1 {
    width: 100%;
    font-size: 24px;
    color: #444;
    padding: 30px 15px 35px 30px;
    line-height: 1.35;
    letter-spacing: 0.05em;
    font-weight: bold;
    box-sizing: border-box; }
  body > nav h2 {
    width: 100%;
    font-size: 18px;
    color: #444;
    padding: 0 15px 0 30px;
    padding-bottom: 0.1em;
    color: #444;
    font-weight: bold;
    box-sizing: border-box; }
  body > nav ul {
    padding-bottom: 30px; }
  body > nav ul li a {
    display: block;
    text-decoration: none;
    color: #444;
    width: 100%;
    font-size: 13px;
    padding: 0.47em 15px 0.37em 30px;
    box-sizing: border-box; }
    body > nav ul li a:hover {
      background: #FFF; }

body > article {
  position: relative;
  width: 100%;
  padding: 30px 30px 30px 30px;
  padding-left: 265px;
  box-sizing: border-box; }

/*# sourceMappingURL=format.css.map */
