.guide-style {
  background: #FFF;
  padding: 50px; }
  .guide-style > h1 em, .guide-style > h2 em, .guide-style > h3 em, .guide-style > p em, .guide-style > p strong, .guide-style > ul li em, .guide-style > ul li strong, .guide-style > ol li em, .guide-style > ol li strong, .guide-style > dl em, .guide-style > dl strong, .guide-style > table th em, .guide-style > table td em, .guide-style > table th strong, .guide-style > table td strong {
    font-style: normal;
    font-weight: bold;
    color: #e80575; }
  .guide-style > h1 a, .guide-style > h2 a, .guide-style > h3 a, .guide-style > p a, .guide-style > ul li a, .guide-style > ol li a, .guide-style > dl a, .guide-style > table th a, .guide-style > table td a {
    color: #0044CC; }
  .guide-style > p img, .guide-style > ul li img, .guide-style > ol li img, .guide-style > dl img, .guide-style > table th img, .guide-style > table td img {
    display: block;
    max-width: 100%;
    padding: 0.5em 0 0.6em 0; }
  .guide-style > h1 {
    display: block;
    font-size: 38px;
    line-height: 1.18;
    font-weight: bold; }
  .guide-style > h1:first-child {
    margin-top: -0.12em; }
  .guide-style > p + h1,
  .guide-style > ul + h1,
  .guide-style > ol + h1,
  .guide-style > dl + h1 {
    margin-top: 0.93em; }
  .guide-style > div + h1,
  .guide-style > table + h1,
  .guide-style > hr + h1 {
    margin-top: 1.1em; }
  .guide-style > h2 {
    display: block;
    font-size: 26px;
    line-height: 1.25;
    font-weight: bold; }
  .guide-style > h2:first-child {
    margin-top: -0.2em; }
  .guide-style > p + h2,
  .guide-style > ul + h2,
  .guide-style > ol + h2,
  .guide-style > dl + h2 {
    margin-top: 1.4em; }
  .guide-style > div + h2,
  .guide-style > table + h2,
  .guide-style > hr + h2 {
    margin-top: 1.6em; }
  .guide-style > h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.35; }
  .guide-style > h3:first-child {
    margin-top: -0.2em; }
  .guide-style > p + h3,
  .guide-style > ul + h3,
  .guide-style > ol + h3,
  .guide-style > dl + h3 {
    margin-top: 2em; }
  .guide-style > div + h3,
  .guide-style > table + h3,
  .guide-style > hr + h3 {
    margin-top: 2.35em; }
  .guide-style > p {
    display: block;
    line-height: 1.6;
    font-size: 15px; }
  .guide-style > p:first-child {
    margin-top: -0.3em; }
  .guide-style > h1 + p {
    margin-top: 0.4em; }
  .guide-style > h2 + p,
  .guide-style > h3 + p {
    margin-top: 0.5em; }
  .guide-style > p + p,
  .guide-style > ol + p,
  .guide-style > ul + p,
  .guide-style > dl + p {
    margin-top: 0.3em; }
  .guide-style > div + p,
  .guide-style > table + p {
    margin-top: 0.75em; }
  .guide-style > hr + p {
    margin-top: 2.7em; }
  .guide-style > ul + p,
  .guide-style > ol + p,
  .guide-style > dl + p {
    margin-top: 0.4em; }
  .guide-style > ul {
    display: block;
    line-height: 1.6;
    font-size: 15px; }
    .guide-style > ul li {
      list-style: disc inside;
      margin-left: 1.17em;
      text-indent: -0.9em; }
  .guide-style > ul:first-child {
    margin-top: -0.3em; }
  .guide-style > h1 + ul {
    margin-top: 0.4em; }
  .guide-style > h2 + ul,
  .guide-style > h3 + ul {
    margin-top: 0.5em; }
  .guide-style > p + ul,
  .guide-style > ol + ul,
  .guide-style > ul + ul,
  .guide-style > dl + ul {
    margin-top: 0.3em; }
  .guide-style > div + ul,
  .guide-style > table + ul {
    margin-top: 0.75em; }
  .guide-style > hr + ul {
    margin-top: 2.7em; }
  .guide-style > ol {
    line-height: 1.6;
    font-size: 15px; }
    .guide-style > ol li {
      list-style: decimal-leading-zero inside; }
  .guide-style > ol:first-child {
    margin-top: -0.3em; }
  .guide-style > h1 + ol {
    margin-top: 0.4em; }
  .guide-style > h2 + ol,
  .guide-style > h3 + ol {
    margin-top: 0.5em; }
  .guide-style > p + ol,
  .guide-style > ol + ol,
  .guide-style > ul + ol,
  .guide-style > dl + ol {
    margin-top: 0.3em; }
  .guide-style > div + ol,
  .guide-style > table + ol {
    margin-top: 0.75em; }
  .guide-style > hr + ol {
    margin-top: 2.7em; }
  .guide-style > dl {
    line-height: 1.6;
    font-size: 15px;
    overflow: hidden;
    *zoom: 1; }
    .guide-style > dl dt {
      float: left;
      clear: both; }
    .guide-style > dl dd {
      padding-left: 1.8em; }
  .guide-style > dl:first-child {
    margin-top: -0.3em; }
  .guide-style > h1 + dl {
    margin-top: 0.4em; }
  .guide-style > h2 + dl,
  .guide-style > h3 + dl {
    margin-top: 0.5em; }
  .guide-style > p + dl,
  .guide-style > ol + dl,
  .guide-style > ul + dl,
  .guide-style > dl + dl {
    margin-top: 0.3em; }
  .guide-style > div + dl,
  .guide-style > table + dl {
    margin-top: 0.75em; }
  .guide-style > hr + dl {
    margin-top: 2.7em; }
  .guide-style > hr {
    display: block;
    height: 4px;
    background: #DDD;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 15px; }
  .guide-style p + hr,
  .guide-style ul + hr,
  .guide-style ol + hr,
  .guide-style dl + hr {
    margin-top: 2.6em; }
  .guide-style div + hr,
  .guide-style table + hr {
    margin-top: 3em; }
  .guide-style > table th, .guide-style > table td {
    padding: 0.5em 1em 0.35em 1em;
    text-align: left;
    border-right: 2px solid #FFF;
    line-height: 1.6;
    font-size: 15px; }
  .guide-style > table thead th, .guide-style > table thead td {
    background: #CACACA;
    font-weight: normal; }
  .guide-style > table tbody tr:nth-child(even) th, .guide-style > table tbody tr:nth-child(even) td {
    background: #EEE; }
  .guide-style > h1 + table {
    margin-top: 0.65em; }
  .guide-style > h2 + table,
  .guide-style > h3 + table {
    margin-top: 0.75em; }
  .guide-style > p + table,
  .guide-style > ol + table,
  .guide-style > ul + table,
  .guide-style > dl + table {
    margin-top: 0.7em; }
  .guide-style > div + table,
  .guide-style > table + table {
    margin-top: 1.25em; }
  .guide-style > hr + table {
    margin-top: 3.5em; }
  .guide-style > h1 + div {
    margin-top: 0.65em; }
  .guide-style > h2 + div,
  .guide-style > h3 + div {
    margin-top: 0.75em; }
  .guide-style > p + div,
  .guide-style > ol + div,
  .guide-style > ul + div,
  .guide-style > dl + div {
    margin-top: 0.7em; }
  .guide-style > div + div,
  .guide-style > table + div {
    margin-top: 1.25em; }
  .guide-style > hr + div {
    margin-top: 3.5em; }
  .guide-style > .code .hljs {
    line-height: 1.4;
    padding: 1em;
    overflow-x: scroll;
    background: #333;
    font-family: "ricty", monospace; }
  .guide-style > .preview > div {
    border: 1px solid #DDD;
    width: 100%;
    padding: 0.8em;
    background: url('../../img/preview_bg.gif?1444883392');
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .guide-style > .preview iframe {
    width: 100%; }
  .guide-style > .video > div {
    position: relative;
    height: 0;
    padding: 30px 0 56.25%;
    overflow: hidden; }
  .guide-style > .video > div > iframe,
  .guide-style > .video > div > object,
  .guide-style > .video > div > embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.guide-style + .guide-style {
  margin-top: 40px; }

/*# sourceMappingURL=style.css.map */
